
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>The Kabul airlift</title>

    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body">

<main>
    <nav class="navbar shadow-sm navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">The kabul airlift</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                </ul>
            </div>
        </div>
    </nav>
</main>

<div class="container pt-5 pb-3">
    <div class="p-5 mb-4 bg-white rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 mb-3">The Kabul airlift</h1>
            <p class="col-md-8">
                A list of all military aircraft tracked flying into and out of Kabul Airport, Afghanistan or
                otherwise assisting during the mass-evacuation of US, UK, and other NATO embassy staff, along with
                Afghan civilians who helped NATO during the 20 years of military operations in the country against
                taliban.
            </p>

            <p>Website created with the data from @defencefeek on twitter.</p>
        </div>
    </div>
</div>

<div class="container pb-5">
    {{ content }}
</div>

</body>
</html>
